[data-theme="1"][data-color-mode="light"] {
  --primary: #1e5e57;
  --secondary: #6db2a8;
  --tertiary: #e16162;
  --accent: #f9bc60;
  --background: #fff4e6;
}
[data-theme="1"][data-color-mode="dark"] {
  --primary: #12352f;
  --secondary: #3f645e;
  --tertiary: #e16162;
  --accent: #f9bc60;
  --background: #191109;
}
