[data-theme="2"][data-color-mode="light"] {
  --text-50: #f5f5ef;
  --text-100: #ececdf;
  --text-200: #d8d8c0;
  --text-300: #c5c5a0;
  --text-400: #b1b181;
  --text-500: #9e9e61;
  --text-600: #7e7e4e;
  --text-700: #5f5f3a;
  --text-800: #3f3f27;
  --text-900: #202013;
  --text-950: #10100a;

  --background-50: #f5f5ef;
  --background-100: #ebebe0;
  --background-200: #d8d8c0;
  --background-300: #c4c4a1;
  --background-400: #b0b082;
  --background-500: #9d9d62;
  --background-600: #7d7d4f;
  --background-700: #5e5e3b;
  --background-800: #3f3f27;
  --background-900: #1f1f14;
  --background-950: #10100a;

  --primary-50: #f5f5ef;
  --primary-100: #ebecdf;
  --primary-200: #d8d8c0;
  --primary-300: #c4c5a0;
  --primary-400: #b1b181;
  --primary-500: #9d9e61;
  --primary-600: #7e7e4e;
  --primary-700: #5e5f3a;
  --primary-800: #3f3f27;
  --primary-900: #1f2013;
  --primary-950: #10100a;

  --secondary-50: #eff5f4;
  --secondary-100: #dfece9;
  --secondary-200: #c0d8d3;
  --secondary-300: #a0c5be;
  --secondary-400: #81b1a8;
  --secondary-500: #619e92;
  --secondary-600: #4e7e75;
  --secondary-700: #3a5f58;
  --secondary-800: #273f3a;
  --secondary-900: #13201d;
  --secondary-950: #0a100f;

  --accent-50: #eff3f5;
  --accent-100: #dfe8ec;
  --accent-200: #c0d0d8;
  --accent-300: #a0b9c5;
  --accent-400: #81a1b1;
  --accent-500: #618a9e;
  --accent-600: #4e6e7e;
  --accent-700: #3a535f;
  --accent-800: #27373f;
  --accent-900: #131c20;
  --accent-950: #0a0e10;
}
[data-theme="2"][data-color-mode="dark"] {
  --text-50: #10100a;
  --text-100: #1f1f14;
  --text-200: #3e3e28;
  --text-300: #5d5d3c;
  --text-400: #7c7c50;
  --text-500: #9c9c63;
  --text-600: #afaf83;
  --text-700: #c3c3a2;
  --text-800: #d7d7c1;
  --text-900: #ebebe0;
  --text-950: #f5f5ef;

  --background-50: #0f0f0a;
  --background-100: #1f1f14;
  --background-200: #3d3d29;
  --background-300: #5c5c3d;
  --background-400: #7a7a52;
  --background-500: #999966;
  --background-600: #adad85;
  --background-700: #c2c2a3;
  --background-800: #d6d6c2;
  --background-900: #ebebe0;
  --background-950: #f5f5f0;

  --primary-50: #10100a;
  --primary-100: #1f2013;
  --primary-200: #3f3f27;
  --primary-300: #5e5f3a;
  --primary-400: #7e7e4e;
  --primary-500: #9d9e61;
  --primary-600: #b1b181;
  --primary-700: #c4c5a0;
  --primary-800: #d8d8c0;
  --primary-900: #ebecdf;
  --primary-950: #f5f5ef;

  --secondary-50: #0a100f;
  --secondary-100: #13201d;
  --secondary-200: #273f3a;
  --secondary-300: #3a5f58;
  --secondary-400: #4e7e75;
  --secondary-500: #619e92;
  --secondary-600: #81b1a8;
  --secondary-700: #a0c5be;
  --secondary-800: #c0d8d3;
  --secondary-900: #dfece9;
  --secondary-950: #eff5f4;

  --accent-50: #0a0e10;
  --accent-100: #131c20;
  --accent-200: #27373f;
  --accent-300: #3a535f;
  --accent-400: #4e6e7e;
  --accent-500: #618a9e;
  --accent-600: #81a1b1;
  --accent-700: #a0b9c5;
  --accent-800: #c0d0d8;
  --accent-900: #dfe8ec;
  --accent-950: #eff3f5;
}
