[data-theme="3"][data-color-mode="light"] {
  --primary: #035f7c;
  --secondary: #6dbcb2;
  --tertiary: #b561a6;
  --accent: #f3c7a0;
  --background: #f3fdff;
}
[data-theme="3"][data-color-mode="dark"] {
  --primary: #034554;
  --secondary: #426d67;
  --tertiary: #b561a6;
  --accent: #f3c7a0;
  --background: #002126;
}
