[data-theme="8008"][data-color-mode="light"] {
  --primary: #004643;
  --secondary: #568c84;
  --tertiary: #e16162;
  --accent: #f9bc60;
  --foreground: #333a45;
  --background: #fffffe;
}
[data-theme="8008"][data-color-mode="dark"] {
  --primary: #004643;
  --secondary: #568c84;
  --tertiary: #e16162;
  --accent: #f9bc60;
  --foreground: #fffffe;
  --background: #333a45;
}
