[data-theme="80s_after_dark"][data-color-mode="light"] {
  --primary: #ffd1e7;
  --secondary: #fffb85;
  --tertiary: #e1e7ec;
  --accent: #57889e;
  --background: #f0fbff;
}
[data-theme="80s_after_dark"][data-color-mode="dark"] {
  --primary: #7c5669;
  --secondary: #fffb85;
  --tertiary: #e1e7ec;
  --accent: #b6d7e0;
  --background: #262729;
}
