[data-theme="charge"][data-color-mode="light"] {
  --primary: #dceae4;
  --notes: #f4faf8;
  --secondary: #a7acaa;
  --tertiary: #e1cb80;
  --accent: #93b4a7;
  --background: #ffffff;
}
[data-theme="charge"][data-color-mode="dark"] {
  --primary: #070e0b;
  --notes: #151b19;
  --secondary: #484949;
  --tertiary: #89825b;
  --accent: #364942;
  --background: #000;
}
