[data-theme="charge"][data-color-mode="light"] {
  --primary: #fafafa;
  --notes: #ececec;
  --secondary: #c9c9c9;
  --tertiary: #d7d49e;
  --accent: #93b4a7;
  --background: #ffffff;
}
[data-theme="charge"][data-color-mode="dark"] {
  --primary: #020202;
  --notes: #0f0f0f;
  --secondary: #303030;
  --tertiary: #315e4d;
  --accent: #34443e;
  --background: #000;
}
