[data-theme="fire"][data-color-mode="light"] {
  --primary: #941a1d;
  --notes: #b23b25;
  --secondary: #d96527;
  --tertiary: #ffffff;
  --accent: #fec23a;
  --background: #ffe7bb;
}
[data-theme="fire"][data-color-mode="dark"] {
  --primary: #6d131c;
  --notes: #8e3223;
  --secondary: #b34f26;
  --tertiary: #ffffff;
  --accent: #fec23a;
  --background: #1d150b;
}
