[data-theme="slate"][data-color-mode="light"] {
  --primary: #5d5d5d;
  --notes: #818181;
  --secondary: #b3b4b4;
  --tertiary: #ffffff;
  --accent: #dad9d9;
  --background: #ffffff;
}
[data-theme="slate"][data-color-mode="dark"] {
  --primary: #2c2c2c;
  --notes: #4e4e4e;
  --secondary: #8c8c8c;
  --tertiary: #b4b4b4;
  --accent: #7b7b7b;
  --background: #121212;
}
