[data-theme="80s_after_dark"][data-color-mode="light"] {
  --primary: #fff;
  --secondary: #000;
  --tertiary: yellowgreen;
  --accent: red;
  --background: #fff;
}
[data-theme="80s_after_dark"][data-color-mode="dark"] {
  --primary: #7c5669;
  --secondary: #fffb85;
  --tertiary: #e1e7ec;
  --accent: #b6d7e0;
  --background: #262729;
}
